---
import LayoutBase from "../layouts/LayoutBase.astro";
---

<LayoutBase
  title="404 - Página não encontrada"
  description="Ops... página não encontrada"
  url="/404"
  img="/assets/social.jpg"
>
  <section
    class="container mx-auto w-full flex items-center justify-center flex-col"
  >
    <h1 class="text-5xl font-semibold mt-4 mb-4">Página não encontrada</h1>
    <a
      href="/"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >Voltar p/ Home</a
    >
  </section>
</LayoutBase>
