---
import LayoutBase from "../layouts/LayoutBase.astro";
---

<LayoutBase
  title="Contato"
  description="Entre em contato conosco"
  url="/contato"
  img="/assets/social.jpg"
>
  <section class="container mx-auto w-full flex items-center justify-center">
    <h1 class="text-5xl font-bold">Contato</h1>
  </section>
</LayoutBase>
