---
import { Image } from "@astrojs/image/components";
import LayoutBase from "../layouts/LayoutBase.astro";
---

<style lang="scss">
  .s-hero {
    h1 {
      font-size: 6rem;
      text-align: center;
    }
  }
</style>

<LayoutBase
  title="Página Inicial"
  description="Descrição da página inicial"
  url=""
  img="/assets/social.jpg"
>
  <section
    class="w-full flex items-center justify-center bg-white dark:bg-neutral-900"
  >
    <Image
      src="/assets/logo-light.png"
      width={640}
      height={220}
      format="png"
      alt="Logo Astro"
      class="dark:hidden"
    />
    <Image
      src="/assets/logo-dark.png"
      width={640}
      height={220}
      format="png"
      alt="Logo Astro"
      class="hidden dark:block"
    />
  </section>
</LayoutBase>
