---
import LayoutBase from "../layouts/LayoutBase.astro";
---

<LayoutBase
  title="Sobre"
  description="Saiba mais sobre nós"
  url="/sobre"
  img="/assets/social-astro.png"
>
  <section class="container mx-auto w-full flex items-center justify-center">
    <h1 class="text-5xl font-bold">Sobre</h1>
  </section>
</LayoutBase>
