---
let currentYear = new Date().getFullYear();
---

<footer class="w-full h-10 flex items-center justify-center bg-indigo-900">
  <div class="container">
    <p class="text-gray-50 text-center">
      Todos os direitos reservados &#169; {currentYear}
    </p>
  </div>
</footer>
