---
import { ThemeSwitch } from "astro-color-scheme";
import Logo from "../components/Logo.astro";
---

<style lang="scss">
  .menu-itens {
    @media (max-width: 720px) {
      display: none;
    }
  }
</style>

<header class="h-16 flex items-center bg-slate-900 dark:bg-black">
  <nav class="container mx-auto flex items-center justify-between">
    <Logo />
    <ul class="menu-itens flex items-center gap-8 text-zinc-50">
      <li><a href="/">Home</a></li>
      <li><a href="/sobre">Sobre</a></li>
      <li><a href="/contato">Contato</a></li>
      <li><a href="/blog/post">Blog</a></li>
    </ul>

    <ThemeSwitch strategy="button" defaultTheme="system">
      <button class="flex gap-4 px-3 py-1">
        <span class="text-white">Tema</span>
        <img class="dark:hidden w-6" src="/assets/sun.svg" alt="" />
        <img class="hidden dark:block w-6" src="/assets/moon.svg" alt="" />
      </button>
    </ThemeSwitch>
  </nav>
</header>
